NODE_ENV=development

API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
ACCOUNT_SERVICE_PORT=3002
TRANSACTION_SERVICE_PORT=3003
NOTIFICATION_SERVICE_PORT=3004


JWT_REFRESH_SECRET=change_me
MONGODB_URI=mongodb://localhost:27017/auth_db
RABBITMQ_URL=amqp://localhost:5672
KAFKA_BROKERS=localhost:9092
LOG_LEVEL=info
REDIS_URL=redis://localhost:6379
BCRYPT_SALT_ROUNDS=12
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_EXPIRES_IN=7d
INTERNAL_API_KEY=your-internal-secret